

.item{
    text-align: center;
}
.item img{

border-radius: 50%;
width: 100px;
height: 100px;
border: 3px solid white;
position: relative;
margin: auto;

}

.item .body{
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    margin-top: 15px;
    min-height: 100px;
    height: 150px;
     overflow: hidden;
}

.firma{
    background: white;
}


.firma {
    height: 162px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.firma p {
    margin: 0;
    color: #044970;
    font-size: 13px;
   
}

.item .body p {
    font-size: 17px;
text-align:left;
margin-bottom: 0.1rem;

}

.owl-nav button.owl-next,
.owl-nav button.owl-prev{
    color: white;
font-size: 20px;
}

.item .body:hover{
overflow-y: scroll;
}

.logotipos {
    width: 100px !important;
   height: auto !important;
   border-radius: 0 !important;
}

blockquote{
    font-size: 13px;
}

.slick-next {
    right: 14px;
}

.slick-prev:before, .slick-next:before {
    font-size: 29px;
    color: #0073b2;
}

.slick-prev {
    left: 4px;
    z-index: 999;
}

.slick-slider{
    background: #2c299f;
}

.slick-slide {
    padding: 5px;
}

.item.min .img{
    width: 80px;
    height: 80px;  
}

.item.min .body{

    border-radius: 5px;
    padding: 7px;
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 10px;

    min-height: auto;
    height: auto;
    background: #0073b2;
    
}

.item.min .firma{
    height: auto;
    color:white;
    background: #0073b2;

}

.testimonial-slider.min .slick-slider{
    color:white;
    background: transparent !important;
    
}


.item.min .firma p{
    color:white;
}


.testimonial-slider.min .slick-prev, .testimonial-slider.min .slick-next{

    top:19%
}


.testimonial-slider.min .slick-dots{
    display: none;
}