
body{
    background: #2c299f !important;
}
.item{
    text-align: center;
}
.item img{

border-radius: 50%;
width: 100px;
height: 100px;
border: 3px solid white;
position: relative;
margin: auto;

}

.item .body{
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    margin-top: 15px;
    min-height: 100px;
    height: 130px;
     overflow: hidden;
}

.firma{
    background: white;
}


.firma {
    height: 162px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.firma p {
    margin: 0;
    color: #044970;
    font-size: 13px;
   
}

.item .body p {
    font-size: 12px;
text-align:left;
margin-bottom: 0.1rem;

}

.owl-nav button.owl-next,
.owl-nav button.owl-prev{
    color: white;
font-size: 20px;
}

.item .body:hover{
overflow-y: scroll;
}

.logotipos {
    width: 100px !important;
   height: auto !important;
   border-radius: 0 !important;
}

blockquote{
    font-size: 13px;
}

.slick-next {
    right: 14px;
}

.slick-prev:before, .slick-next:before {
    font-size: 29px;
    color: #2c299f;
}

.slick-prev {
    left: 4px;
    z-index: 999;
}

.slick-slider{
    background: #2c299f;
}

.slick-slide {
    padding: 5px;
}